<div class="d-flex align-items-baseline justify-content-between">
  <h1>Matsumoto House</h1>
  <p>login with Github</p>
</div>
<div class="border-bottom border-bottom-2">
  <h5>Welcome to the club</h5>
</div>