<aside class="sidebar border p-3 col-2 bg-body-secondary rounded">
  <div class="">
    <h6>Total Current Members</h6>
    <p>140</p>
    <%= link_to 'See all members', users_path %>
  </div>
  <hr>
  <div>
    <h6>Inception date</h6>
    <p>started June 2022</p>
  </div>
  <hr>
  <div>
    <h6>Total Members currently employed</h6>
    <p>1</p>
    <p>100%</p>
  </div>
  <hr>
  <div>
    <h6>Employers</h6>
    <p>1</p>
    <%= link_to 'Employers List', employers_path %>
  </div>
  <hr>
  <div>
    <h6>Where we are</h6>
    <ul>
      <li>Denver: 20</li>
      <li>Chicago: 2</li>
      <li>New York: 7</li>
      <li>Vermont: 1</li>
      <li>Washington: 4</li>
      <li>Arizona: 8</li>
      <li>Louisiana: 8</li>
    </ul>
    <%= link_to "Map of us", root_path %>
  </div>
</aside>