  <aside class="right-sidebar col-4">
    <div class="card">
      <div class="card-header">
        Events
      </div>
      <div class="card-body">
        <h5 class="card-title">Upcoming Events</h5>
        <p class="card-text">Something happening at some time</p>
        <%= link_to "Upcoming Events", events_path, class: "btn btn-primary" %>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        FAQs
      </div>
      <div class="card-body">
        <h5 class="card-title">Frequently Asked Questions</h5>
        <p class="card-text">What is this? </p>
        <p class="card-text">How can it help me?</p>
        <p class="card-text">How can I use it?</p>
        <p class="card-text">How can you help it?</p>
        <a href="#" class="btn btn-primary">The full list</a>
      </div>
    </div>
  </aside>