<% breadcrumb :users %>
<h1>Users#index</h1>
<p>Ideally, this would be populated with an index of the users/members of the house.</p>
<p>It might be nice to have them displayed in a simple table, or with some sort of introductory snippet; some about me, or something. Some quote, some fun fact; maybe a link to their socials, etc</p>
<p>Since the user account is linked to their Github, and Github provides the user image, could use the image from Github to populate; and then maybe design it so it's a card with an offset image and some biographical info, or some other language</p>