<% breadcrumb :events %>
<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<p>List upcoming events</p>
<p>possible integration with Lu.ma, meetup, eventbrite</p>
<p>possible simple form for people to add events</p>
<p>a way for the author to edit/delete event</p>
<p>Maybe an interface with a calendar</p>
