<% breadcrumb :resources %>
<h1>Resources#index</h1>
<p>Find me in app/views/resources/index.html.erb</p>
<p>Maybe a list of open source projects to contribute to</p>
<p>Helpful articles</p>
<p>Helpful tutorials</p>
<p>Blog articles</p>
<p>how to do things</p>
<p>additional organization is needed here, but there could be a section for good repos, professional development resources, how to build a blog, online games to play with cohort mates, places to touch up a profile pic, free online resources for learning, etc</p>
