<h1>About</h1>

<p>The original genesis for Houses began sometime in 2022. There were a number of Professional Development documents that spoke about Houses, and how they were available to be used</p>
<p>One such document is <%= link_to 'here', "https://docs.google.com/document/d/14uY50TJMHCCdSpOfHpGk9DEa8olkSp_I6PPCiv-Kl-8/edit" %></p>